#__bs_notify__ { top:95% !important; right: 10px !important; border-radius: 15px !important; height:60px !important; }

@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');

/* 
	FONTS:
	font-family: 'Lobster', cursive;
	font-family: 'Raleway', sans-serif;
*/

/* 
	COLORS:
	Light Blue: #4CA6FF;
*/

.brand {
	display: block;
	font-family: 'Lobster', cursive;
	color: #4CA6FF;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 1px 1px 5px #A3A3A3;
}

.brand:hover {
	color: #93C9FF;
	text-shadow: 1px 1px 2px #777;
}

.sling-title {
	text-align: center;
	font-family: 'Lobster', cursive;
	color: #4CA6FF;
	font-size: 80px;
	font-weight: bold;
	text-shadow: 1px 1px 5px #ccc;
}

.sling-blurb {
	text-align: center;
	display: inline-block;
	margin-top: 50px;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}

body {
	background-color: #F3F3F3;
}

.panel {
	border: 1px solid #ccc;
}

.panel-heading {
	border-bottom-color: #ccc !important;
}

.panel-body {
	border-top: 0px;
}

.navbar {
	border-bottom: 1px solid #ccc;
	box-shadow: 0px 1px 5px #ccc;
}

.sling-nav button {
	border-color: #4CA6FF;
	color: #4CA6FF;
}

.active {
	background-color:  #93C9FF !important;
	color: white !important;
	border-color: #4CA6FF !important;
}

.sling-nav button:hover {
	background-color: #4CA6FF !important;
	color: white;
	border-color: #4CA6FF;
	box-shadow: 1px 1px 5px #ccc;
}

.sling-main-panel {
	text-align: center;
	font-family: 'Lobster', cursive;
	color: #4CA6FF !important;
	font-size: 20px;
	text-shadow: 1px 1px 5px #ccc;
	font-weight: bold;
}

.modal-mobile {
	color: #ccc;
}

.fa-check-circle-o {
	color: #79c879;
}
