@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

#__bs_notify__ { top:95% !important; right: 10px !important; border-radius: 15px !important; height:60px !important; }

/* 
	FONTS:
	font-family: 'Lobster', cursive;
	font-family: 'Raleway', sans-serif;
	font-family: 'Open Sans', sans-serif;
*/

/* 
	COLORS:
	Light Blue: #4CA6FF;
*/

.sling-title-logo {
	margin: auto;
	height: 40%;
	width: 40%;
}

.brand {
	display: block;
	font-family: 'Open Sans', sans-serif;
	color: #4CA6FF;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 1px 1px 5px #A3A3A3;
}

.brand:hover {
	color: #93C9FF;
	text-shadow: 1px 1px 2px #777;
}

.sling-title {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #4CA6FF;
	font-size: 80px;
	/*font-weight: bold;*/
	text-shadow: 1px 1px 5px #ccc;
	display: inline-block;
	margin-left: 10px;
}

.sling-blurb {

	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

.sling-blurb-title {
	display: inline-block;
}

.sling-blurb-title-panel {
	margin-top: 100px;
	padding: 10px;
	background-color:  #93C9FF !important;
	color: white !important;
	border-color: #4CA6FF !important;
	box-shadow: 1px 1px 5px #ccc;
}

body {
	background-color: #F3F3F3;
}

.panel {
	border: 1px solid #ccc;
}

.panel-heading {
	border-bottom-color: #ccc !important;
}

.panel-body {
	border-top: 0px;
}

.navbar {
	border-bottom: 1px solid #ccc;
	box-shadow: 0px 1px 5px #ccc;
}

.sling-nav button {
	border-color: #4CA6FF;
	color: #4CA6FF;
	/*margin-right: -10px;*/
}

.active {
	background-color:  #93C9FF !important;
	color: white !important;
	border-color: #4CA6FF !important;
}

.sling-nav button:hover {
	background-color: #4CA6FF !important;
	color: white;
	border-color: #4CA6FF;
	box-shadow: 1px 1px 5px #ccc;
}

.sling-main-panel {
	text-align: center;
	font-family: 'Open Sans', sans-serif !important;
	color: #4CA6FF !important;
	font-size: 20px;
	text-shadow: 1px 1px 5px #ccc;
	font-weight: bold;
}

.modal-mobile {
	display: block;
}

.link-title {
	color: #4CA6FF;
	display: inline-block;
	text-shadow: 1px 1px 5px #ccc;
	margin-right: 10px;
	vertical-align: top;
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.fa-check-circle-o {
	color: #79c879;
}

.fa-times-circle-o {
	color: #b20000;
}

.fa-clock-o {
	color: #cccc00;
}

.mobile-num-modal {
	margin-left: 10px;
	vertical-align: 30%;
}

.contact-row {
	margin-top: 8px;
	margin-bottom: 8px;
}

.avatar-circle {
  width: 40px;
  height: 40px;
  background-color: #4CA6FF;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin: auto;
}

.initials {
  position: relative;
  top: 10px; /* 25% of parent */
  font-size: 20px; /* 50% of parent */
  line-height: 20px; /* 50% of parent */
  color: #fff;
  font-weight: bold;
}

.avatar-circle-lg {
  width: 80px;
  height: 80px;
  background-color: #4CA6FF;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px #ccc;
}

.initials-lg {
  position: relative;
  top: 20px; /* 25% of parent */
  font-size: 40px; /* 50% of parent */
  line-height: 40px; /* 50% of parent */
  color: #fff;
  font-weight: bold;
}

.contact-text {
	margin-top: 6px;
}

.add-contact {
	width: 60px;
  height: 60px;
  background-color: #93C9FF;
  color: white;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  float: right;
  box-shadow: 2px 2px 5px #ccc;
  border-color: #4CA6FF;
}

.add-contact:hover {
	background-color: #4CA6FF;
}

.add-contact-plus {
	position: relative;
  top: 1px; /* 25% of parent */
  font-size: 30px; /* 50% of parent */
  line-height: 30px; /* 50% of parent */
  color: #fff;
}

.modal-edits {
	float: right;
}

.fa-pencil {
	margin-right: 10px;
	color: #999;
}

.fa-pencil:hover {
	color: #666;
	cursor: pointer;
}

.fa-trash {
	margin-right: 5px;
	color: #999;
}

.fa-trash:hover {
	color: #666;
	cursor: pointer;
}

.button-form {
	display: inline;
}

a:focus {
  outline: none;
}

i:focus {
  outline: none;
}

.modal
{
    overflow-y: auto !important;
}

.modal-open {
    overflow: auto !important;
    overflow-x: hidden !important;
    padding-right: 0px !important;
}

.g-recaptcha {
	height: 35%;
	width: 36%;
	margin: auto;
}

.how-to {
	margin-top: 25px;
}

.how-to-panel {
	padding: 15px;
	height: 100%;
	width: 100%;
}

.how-to-icon {
	margin-top: 10px;
	text-shadow: 1px 1px 5px #ccc;
}

.how-to-panel-text {
	margin-top: 10px;
}

.how-does {
	color: #4CA6FF;
	text-shadow: 1px 1px 5px #ccc;
}

/*.equal {  
    display: -webkit-flex;
    display: flex;
}*/

blockquote {
  margin: 20px 0;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left: 1.5rem;
  border-left: 10px solid #93C9FF;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #ccc;
}

